body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #8538F2;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
  .product-card {
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 380px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  .badge {
    background: red;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    color: gold;
    font-size: 20px;
    cursor: pointer;
  }
  .product-image {
    margin: 10px 0;
  }
  .product-image img {
    width: 100%;
  }
  .product-name {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
  }
  .rating {
    color: orange;
    margin: 5px 0;
  }
  .price {
    color: red;
    font-size: 20px;
    font-weight: bold;
  }
  .old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
  }
  .features {
    font-size: 12px;
    color: #555;
    margin: 10px 0;
  }
  .add-to-cart {
    background: green;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
  }
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    margin-bottom: 50;
}
