body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #8538F2;
}

/* Встановлюємо контейнер на всю ширину екрану */
.container-fluid {
    width: 100%;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Стилі для навігаційного меню */
nav {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Банер */
.banner {
    background-color: #4CAF50;
    color: white;
    padding: 50px 0;
    text-align: center;
    width: 100%;
}


.banner h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5em;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Стилі для картки товару в кошику */
.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .cart-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-details h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  
  .cart-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cart-item-actions button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item-actions button:hover {
    background-color: #ff4500;
  }
  
