body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #8538F2;
}

.container-fluid {
    width: 100%;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Стилі для навігаційного меню */
nav {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Банер */
.banner {
    background-color: #4CAF50;
    color: white;
    padding: 50px 0;
    text-align: center;
    width: 100%;
}


.banner h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5em;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}
/* Стилі для картки товару в кошику */
.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .cart-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-details h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  
  .cart-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cart-item-actions button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item-actions button:hover {
    background-color: #ff4500;
  }
  .clear-cart {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .clear-cart:hover {
    background-color: #ff4500;
  }
  /* Основна стилізація для кнопок */
.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-actions button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-cart {
  background-color: #f44336;
  color: white;
}

.checkout {
  background-color: #4caf50;
  color: white;
}

/* Модальне вікно */
form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-order {
  background-color: #4caf50;
  color: white;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.submit-order:hover {
  background-color: #45a049;
}

